<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
     <servlet>
        <servlet-name>ServletBuscarGrupo</servlet-name>
        <servlet-class>com.jc.controladores.ServletBuscarGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerificar</servlet-name>
        <servlet-class>com.jc.controladores.ServletVerificar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletBuscarGrupo</servlet-name>
        <url-pattern>/BuscarGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerificar</servlet-name>
        <url-pattern>/Grupo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
    



   